/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* Generics **********/
body {
    font-family: 'Montserrat';    
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
/*****************************/

/********** Utils ************/
.btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
}

.flex {
    display: flex;
}

.card {
    height: 160px;
    width: 160px;
    /* background-color: aqua; */
}
/*****************************/





/*TODO:**** Main ****/
main {
    height: calc(100vh - 75px);
    display: flex;
}
/*TODO:**************/



/*? ** Nav Left ***-->*/
nav {
    height: 100%;
    min-width: 200px;
    background-color: #000;
    padding: 0 15px;
}
/*? ****************<--/



/*? *Figli di Nav Left ***-->*/
/*** Col ***/
nav .col {
    width: 70%;
    height: 90%;
    border: 1px dashed violet;
}

/*** Profile  **-->*/
nav .profile {
    height: 10%;
    width: 100%;
    border: 1px dashed blue;
}
/*? ************************<--/



/*? * Figli di Col **-->*/
/** Logo **/
figure {
    height: 70px;    
    border: 1px dashed red;
}

/** Nav-Col **/
.nav-col {
    min-height: 90px;
    width: 100%;
    border: 1px dashed red;
}

/** Playlist **/
.playlist {
    height: 220px;
    width: 100%;    
    border: 1px dashed red;
}
/*? *******************<--/



/*? Figli di Playlist *-->*/
/* New Playlist */
.new-playlist {
    min-height: 25%;
    width: 100%;
    border: 1px dashed green;
}

/* Collect Playlist */
.collect-playlist {
    min-height: 75%;
    width: 100%;
    border: 1px dashed green;
}
/*? *********************<--/



/*? * Display ***-->*/
#display {
    height: 100%;
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}
/*? **************<--/



/*? * Figli di Display ***-->*/
/*** Header ***/
header {
    min-height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: end;
    line-height: 80px;
    padding-right: 20px;
}

header .btn {
    color: #fff;
    font-size: 12px;
}

/*** Nav Display ***/
.nav-display ul {
    justify-content: center; 
    flex-wrap: wrap; 
}
.nav-display li {
    margin: 10px 0;
    text-align: center;
    
}
.nav-display a {
    padding: 10px;
    font-size: 13px;
    color: #787B7F;
    font-weight: 500;
    line-height: 20px;
}
.nav-display hr {
    width: 30%;
    margin: 0 auto;
    color: #96DD2D;
}

/*** Content Display ***/
.content-display {
    min-height: 300px;
    width: 100%;
    padding: 10px;
    border: 1px dashed #96DD2D;
}

.content-display h2 {
    color: #fff;
    margin-bottom: 20px;
}

.content-display .row {
    flex-wrap: wrap;
}

.content-display .col {
    gap: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
/*? ***********************<--/



/*TODO:**** Footer ****/
footer {
    min-height: 75px;
    background-color: #282828;
    display: flex;    
}
/*TODO:****************/


.ft-left,
.ft-center,
.ft-right{
    width: calc(100vw / 3);
    border: 1px dashed red;
}
.song,
.reaction {
    height: 100%;
    width: 50%;
    border: 1px dashed blue;
}
/** Figli di Ft-Center **/
.top,
.down {
    height: 50%;
    width: 100%;
    border: 1px dashed blue;
}