/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********* Generics **********/
body {
    font-family: 'Montserrat';    
}

img {
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
/*****************************/

/********** Utils ************/
.btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 20px;
}

.flex {
    display: flex;
}

.card {
    min-height: 160px;
    width: 50%;
    /* background-color: aqua; */
}
/*****************************/



/*TODO:**** Main ****/
main {
    height: calc(100vh - 75px);
    display: flex;
}
/*TODO:**************/



/*? ** Nav Left ***-->*/
nav {
    height: 100%;
    min-width: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*? ****************<--/



/*? *Figli di Nav Left ***-->*/
/*** Col ***/
nav .col {
    width: 90%;
    height: 85%;
}

/*** Profile  **-->*/
nav .profile {
    height: 12%;
    width: 100%;
    color: #787B7F;
}

.nav .profile img {
    max-height: 100%;
}

.profile hr {
    border: 1px solid #787B7F;
}

.profile .install {
    height: 40%;
    align-items: center;
}

.profile .name-profile {
    height: 60%;
    align-items: center;
}

.profile figure {
    height: 25px;
    width: 25px;
    align-items: center;
} 

.profile .install {
    font-size: 13px;
}

.profile .install img {
    height: 17px;
}

.profile .name-profile {
    font-size: 20px;  
    gap: 10px;  
    color: #fff;
}

.profile .name-profile img {
    max-height: 100%;
    width: 25px;
    background-size: cover;
    background-color: #787B7F;
    border-radius: 50%;
}




/*? ************************<--/



/*? * Figli di Col **-->*/
/** Logo **/
.col figure {
    height: 50px;    
    padding: 6px;
    margin-top: 10px;
}

.col figure img {
    height: 100%;
}

/** Nav-Col **/
.nav-col {
    min-height: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
    
}
.nav-col li {
    margin: 10px 0;
}

.nav-col .home a {
    color: #fff; 
    margin-right: 5px;   
    font-size: 13px;
    border-left: 3px solid #96DD2D;
}

.nav-col .bookshelf a,
.nav-col .near a {
    color: #787B7F;
    margin: 0 5px 0 3px;
    font-size: 13px;
}
.nav-col img {
    height: 20px;
    margin: 0 5px;
}

.nav-col a {
    display: flex;
    line-height: 20px;
}

/** Playlist **/
.playlist {
    min-height: 280px;
    width: 100%;    
    color: #787B7F;
    padding-left: 8px;
}

.playlist a {
    color: #787B7F;
}

.playlist h5{
    color: #fff;
}
/*? *******************<--/



/*? Figli di Playlist *-->*/
/* New Playlist */
.new-playlist {
    width: 100%;
    margin: 10px 0;
}

.new-playlist i {
    padding: 10px;
    background-color: #787B7F;
    color: #000;
    margin-right: 5px;
}

.new-playlist a {
    line-height: 34px;
}

/* Collect Playlist */
.collect-playlist {
    min-height: 75%;
    width: 100%;
}

.collect-playlist a {
    line-height: 30px;
    font-size: 13px;
}
/*? *********************<--/



/*? * Display ***-->*/
#display {
    height: 100%;
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
    position: relative;
}
/*? **************<--/



/*? * Figli di Display ***-->*/
/*** Header ***/
header {
    min-height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: end;
    line-height: 80px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header .btn {
    color: #fff;
    font-size: 12px;
}

/*** Nav Display ***/
.nav-display ul {
    justify-content: center; 
    flex-wrap: wrap; 
}
.nav-display li {
    margin: 10px 8px;
    text-align: center;
    
}
.nav-display a {
    padding: 10px;
    font-size: 13px;
    color: #787B7F;
    font-weight: 500;
    line-height: 20px;
}
.nav-display hr {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #96DD2D;
}

/*** Content Display ***/
.content-display {
    min-height: 300px;
    width: 100%;
    padding: 10px;
    border: 1px dashed #96DD2D;
}
.content-display figure {
    height: auto;
    width: 100%;
}

.content-display figure img {
    width: 100%;    
}

.content-display h2 {
    color: #fff;
    margin-bottom: 20px;
}

.content-display .card h4 {
    color: #fff;
    margin: 10px 0;
    text-align: center;
}

.content-display .card p {
    text-align: center;
}

.content-display p {
    color: #787B7F;
    font-size: 13px;
}
.content-display .row {
    flex-wrap: wrap;
}

.content-display .col {
    width: 100%;
    min-width: 280px;
    max-width: 310px;
    gap: 10px;
    margin-right: 15px;
}
/*? ***********************<--/



/*TODO:**** Footer ****/
footer {
    min-height: 75px;
    background-color: #282828;
    display: flex;
    position: absolute; 
}
/*TODO:****************/


.ft-left,
.ft-center,
.ft-right{
    width: calc(100vw / 3);
    border: 1px dashed red;
}

.song,
.reaction {
    height: 100%;
    width: 50%;
    border: 1px dashed blue;
}

/** Figli di Ft-Center **/
.top,
.down {
    height: 50%;
    width: 100%;
    border: 1px dashed blue;
}