/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: sans-serif;    
}
img {
    display: block;
    max-width: 100%;
}

/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/**** Main ****/
main {
    height: calc(100vh - 100px);
    display: flex;
}

/**** Nav Left ****/
nav {
    height: 100%;
    width: 200px;
    background-color: #000;
    padding: 0 15px;
}
nav .col {
    width: 70%;
    height: 90%;
    border: 1px dashed violet;

}
nav .profile {
    height: 10%;
    width: 100%;
    border: 1px dashed blue;
}

/** Logo **/
figure {
    height: 70px;    
    border: 1px dashed red;
}

/** Nav-Col **/
.nav-col {
    min-height: 90px;
    width: 100%;
    border: 1px dashed red;
}

/** Playlist **/
.playlist {
    height: 220px;
    width: 100%;    
    border: 1px dashed red;
}
/* New Playlist */
.new-playlist {
    min-height: 25%;
    width: 100%;
    border: 1px dashed green;
}

/* Collect Playlist */
.collect-playlist {
    min-height: 75%;
    width: 100%;
    border: 1px dashed green;

}






/**** Display ****/
#display {
    height: 100%;
    flex-grow: 1;
    background-color: #141922;
}

/**** Header ****/
header {
    min-height: 80px;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}

/**** Footer ****/
footer {
    min-height: 100px;
    background-color: #282828;
}